img {
  color: rgb(255, 255, 255);
  background-color: rgb(188, 188, 188);
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}