<div class="app-container">
  <app-navbar class="mat-elevation-z2" (onChangeSideNav)="snav.toggle()"></app-navbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #snav [mode]="isScreenSmall() ? 'over' : 'side'" fixedTopGap="56" class="mat-elevation-z2">
      <app-side-nav (onChangeSideNav)="snav.toggle()"></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer class="app-footer mat-elevation-z2"></app-footer>
</div>